{
  "presets": ["es2015", "react"],
  "plugins": [
    "react-hot-loader/babel",
    "transform-function-bind",
    "transform-decorators-legacy",
    "transform-es2015-spread",
    "transform-object-rest-spread"
  ]
}
